@import "tailwindcss";

@keyframes slideIn {
  from {
    transform: translateX(100%); /* เริ่มต้น: อยู่นอกจอทางขวา */
  }
  to {
    transform: translateX(0);    /* สิ้นสุด: เลื่อนกลับมาที่เดิม */
  }
}

.animate-slide-in {
  animation: slideIn 2s ease-out forwards;
}

